<div id="botnDown">
<img src="images/beer.png" alt="Beer" width="350px">


<button class="btn1"><a href="/beers">Check the Beers!</a></button>

<button class="btn2"><a href="/random-Beer">Check a Random Beer</a></button>


</div>

